{% extends 'layout.html' %}
{% block body %}

<div class="row">
  <div class="col-lg-3"></div>
  <div class="text-center col-lg-6">
    <h3>You Have Chosen to <a href="/index"><span class="text-info">Cook at Home</span></a></h3>
    <h3>You Have Chosen to <a href="/StayHome"></a><span class="text-success">Eat Healthy</span></h3>
    <h4>Here is my suggestion</h4>
    <br>
    <h1 class="border rounded pt-3 pb-3"><span class="text-danger">{{ suggestionmain }}</span> with a side of
    <span class="text-danger">{{ suggestionside }}</span> might hit the spot!</h1>
    <br>
    <h5>Sound good? Or maybe another suggestion?</h5>
    <a href="/homeHealthy"><button class="btn btn-secondary">Try Again</button></a>
  </div>
  <div class="col-lg-3"></div>
</div>

{% endblock %}