<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Final Project</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<section>
  <header>
    <h1>Welcome to my Final Flask/Python Project</h1>
    <h2>Not sure what I should do....</h2>
  </header>

  <div>Maybe a calculator?</div>
  <div>A quote machine?</div>
  <div>Who knows!</div>
  <hr>
</section>

  {% block body %}{% endblock %}

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>