<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Assignment 6 Book Review 1</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<section class="text-center">
  <header>
    <h1>GOODREADS</h1>
    <h2>Meet your next favorite book</h2>
  </header>

  <div>Deciding what to read next?</div>
  <div>What are your friends reading?</div>
  <div>Are you and author or a publisher?</div>

  <div>
    <a href="/mystery"><button>Mystery</button></a>
    <a href="/nonFiction"><button>Non-fiction</button></a>
    <a href="/poetry"><button>Poetry</button></a>
  </div>
  <hr>
</section>

  {% block body %}{% endblock %}

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>