<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Final Project</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<section class="text-center">
  <header>
    <h1>WSG2U app</h1>
    <h2>(What Sounds Good To You)</h2>
  </header>

  <div>Can't decide what to eat?</div>
  <div>Take a chance with our suggestions</div>
  <div>Who knows, maybe youll find something</div>
  <hr>
</section>

  {% block body %}{% endblock %}

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>