<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <div>
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
        <input type="submit" value="Login">
      </form>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

      <h3>Hint:</h3>
      <h4>Username: YouAre</h4>
      <h4>Password: Awesome</h4>

    </div>
  </body>
</html>