{% extends 'layout.html' %}
{% block body %}

<section class="pl-5 pr-5 pt-2">
  <h1 class="text-center">Mystery</h1>

  <p>Mystery fiction is a loosely-defined term that is often used as a synonym of detective fiction — in other words a
    novel or short story in which a detective (either professional or amateur) solves a crime. The term "mystery
    fiction" may sometimes be limited to the subset of detective stories in which the emphasis is on the puzzle element
    and its logical solution (cf. whodunit), as a contrast to hardboiled detective stories which focus on action and
    gritty realism. However, in more general usage "mystery" may be used to describe any form of crime fiction, even if
    there is no mystery to be solved. For example, the Mystery Writers of America describes itself as "the premier
    organization for mystery writers, professionals allied to the crime writing field, aspiring crime writers, and those
    who are devoted to the genre".</p>

  <div>
    <ul style="list-style-type: none">
       <li><a href="/mysteryBookOne">My Lovely Wife</a></li>
      <li><a href="/mysteryBookTwo">The Library Lost and Found</a></li>
      <li><a href="/mysteryBookThree">The Trial of Lizzie Borden</a></li>
    </ul>
  </div>
</section>

{% endblock %}