{% extends 'layout.html' %}
{% block body %}

<section class="pl-5 pr-5 pt-2">
  <h1 class="text-center">Mystery</h1>
  
  <h2>My Lovely Wife <br> by Samantha Downing </h2>

  <p class="font-weight-bold">Dexter meets Mr. and Mrs. Smith in this wildly compulsive debut thriller about a couple whose fifteen-year marriage
    has finally gotten too interesting...</p>

  <p>Our love story is simple. I met a gorgeous woman. We fell in love. We had kids. We moved to the suburbs. We told
    each other our biggest dreams, and our darkest secrets. And then we got bored.</p>

  <p>We look like a normal couple. We're your neighbors, the parents of your kid's friend, the acquaintances you keep
    meaning to get dinner with.</p>

  <p>We all have secrets to keeping a marriage alive.</p>

  <p>Ours just happens to be getting away with murder.</p>

</section>

{% endblock %}